<nav class="menu" role="nav">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="http://tumblog.sephcoster.com" target="_blank">Tumblog</a></li>
      <li><a href="https://twitter.com/sephcoster">Twitter</a></li>
    </ul>
</nav>